html, body{
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
}

.btn {
    display: flex;
    justify-content: center;
}

.slct {
    font-size: 50px;
    text-align: center;
    transition: all 0.20s ease;
}

.clicked {
    transform: scale(1.1);
}

.results {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    border: 5px solid red;
    width: 70%;
    height: 250px;
    align-items: center;
    background: rgb(80, 80, 230);
}

h1 {
    text-align: center;
}

#playerScore {
    margin: auto;
    float: right; 
    font-size: 15rem;
    padding-right: 20px;
}

#computerScore {
    margin: auto;
    float: left;
    font-size: 15rem;
    padding-left: 20px;
}

#playerName {
    margin: auto;
    float: right;
    font-size: 30px;
}

#computerName {
    margin: auto;
    float: left;
    font-size: 30px;
}

#update {
    width: 50%;
    margin: auto;
    font-size: 18px;
}